div#fbphoto {
	max-height:600px;
	overflow:scroll;
}

div#fbphoto li {
	-moz-user-select: none;
	-webkit-user-select: none;
}

ul.fb_photo li
{
	display: inline-block;
	width:118px;
	height:118px;
	margin:5px;
	cursor: pointer;
	list-style: none outside none;
	position:relative;
}

div.fbcheck
{
	position:absolute;
	top:-6px;
	right:-6px;
	background-image:url("../../images/check-icon.png");
	background-repeat:no-repeat;
	background-position: center;
	background-color:#1E8CBE;
	height:30px;
	width:30px;
	display:none;
}

ul.fb_photo li.selected
{
	border:4px solid #1E8CBE;
}
ul.fb_photo li.selected div.fbcheck
{
	display:block;
}

ul.fb_photo li div.fbthumbnail
{
	height:110px;
	width:110px;
}

ul.fb_photo li div.fbthumbnail img
{
	height:100%;
	width:100%;
}

#myfb_album div.tab-content
{
	display:table;
}
