*{ margin: 0; padding: 0; }

.tab { display: inline-block; *display:inline; background: rgba(0, 0, 0, 0.3); height:30px;border-bottom: solid 1px #8651A1;border-left: solid 1px #8651A1;border-right: solid 1px #8651A1;}
.tab a { display: block; padding: 5px 10px; outline: none; }

.tab .active { background: #8651A1;}
.tab a.active { font-weight: bold; }

.tab-close { display: inline-block; background: #8651A1; height:22px;position:absolute;top:9px;left:350px;-moz-border-radius: 5px 5px 0px 0px; -webkit-border-radius: 5px 5px 0px 0px; border-radius: 5px 5px 0px 0px;}
.tab-close a { display: block; padding: 0px 10px; color: white; text-decoration:none; font-size: 16px; font-weight:bold;text-align: left; }
.tab-close a:hover{text-decoration:none}

.etabs{
    margin-left: 150px;
	 margin-bottom:0px;
}
         
#tab-container
{
z-index:9;
position: relative;
}

#controls-wrapper
{
z-index:6;
}

#tab3{
	width:80%;
        min-width: 700px;
	height:auto;
	background: rgb(0, 0, 0);
	/* RGBa with 0.6 opacity */
	background: rgba(0, 0, 0, 0.6);
	/* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
	
	padding: 10px 0;
}

#tab1{
	width:400px;
	height: 0px;
}
#tab2{
	width:80%;
        min-width: 500px;	
}

#myImageFlow{
	width:50%;
	heigth:450px;
}

#info_music
{	
	max-height:500px;
        min-height: 500px;
	width:65%;
	float:left;
        background: rgba(255, 255, 255,0.8);
        
	
	color: #333333;
	padding: 15px 15px 15px 15px;
	
	overflow:scroll;	
}



#info_title
{
    font-family: Sofia;
    font-size:25px;
    color: rgb(0, 164, 240);
}

#info_music p
{
    font-size: 16px;
    text-align: justify;
    font-family: Open Sans;
    
}


#info_cmt
{
	height:500px;
	/*padding: 15px 15px 15px 15px;*/
        background: rgb(255, 255, 255);
        overflow:scroll;
        padding: 15px 0px;
}

.center{
 position: relative;
 top:-1px;
 left:100px;
}

.tab-id{
	border-top: solid 2px #8651A1;
	/*position: absolute;
	top:50px;*/
}

.title-tag, #myImageFlow_caption
{
	color:white;
}

p.error-tag{
	color:red;
	display:none;
}

#list-choice-music-tag li{
    cursor: pointer;
    padding: 8px;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    color: #666;
    border-radius: 3px;
    border: none;
    background-color: #eee;
    text-shadow: 0 1px 1px rgba(255,255,255,0.4);
}

#list-choice-music-tag li:hover,#list-choice-music-tag li.selected {
    background-color: #8651A1;
    border: none;
    color: #FFFFFF;
}

.button
{
	margin-top:30px;
	padding: 10px;
    background-color: rgb(0, 164, 240);
    color: #FFFFFF;
    border: none;
    font-size: 16px;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    font-family: Tahoma;
	display:inline-block;
}

#slidecaption
{
    position: absolute;
    font-size: 20px;
    bottom:50px;
    right:10px;
}

#fb-like-panpage
{
position: fixed;
bottom: 55px;
left: 20px;
}

#fb-like-share
{
    position: fixed;
    top: 40px;
    left: 30px;
}


#home
{
    position: fixed;
    top:0px;
    right: 0px;
}
